audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

audio, canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

#aboutus img {
  margin-bottom: 20px;
}

#aboutus {
  padding: 120px 20px 150px 20px;
  margin: 1px;
}

.sub-heading {
  margin-top: 20px;
  color: grey;
}

