.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: #048f83!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
  background-color: #a0531e !important;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.fa.fa-caret-right {
  margin-right: 8px;
}

li.list-group-item {
  font-weight: bolder;
}

.quotes {
  font-size: x-large;
}

a {
  color: inherit;
}

#success {
  color: green;
}

#failure {
  color: red;
}

img {
  border-style: none;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

